@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,400i,700");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Da-Vinci';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Da-Vinci.eot?nk2pqb");
  src: url("../assets/fonts/Da-Vinci.eot?nk2pqb#iefix") format("embedded-opentype"), url("../assets/fonts/Da-Vinci.ttf?nk2pqb") format("truetype"), url("../assets/fonts/Da-Vinci.woff?nk2pqb") format("woff"), url("../assets/fonts/Da-Vinci.svg?nk2pqb#Da-Vinci") format("svg");
}

@font-face {
  font-family: 'GothamRounded-Book';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/GothamRounded-Book.eot?nk2pqb");
  src: url("../assets/fonts/GothamRounded-Book.eot?nk2pqb#iefix") format("embedded-opentype"), url("../assets/fonts/GothamRounded-Book.ttf?nk2pqb") format("truetype"), url("../assets/fonts/GothamRounded-Book.woff?nk2pqb") format("woff"), url("../assets/fonts/GothamRounded-Book.svg?nk2pqb#GothamRounded-Book") format("svg");
}

@font-face {
  font-family: 'GothamRounded-Medium';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/GothamRounded-Medium.eot?nk2pqb");
  src: url("../assets/fonts/GothamRounded-Medium.eot?nk2pqb#iefix") format("embedded-opentype"), url("../assets/fonts/GothamRounded-Medium.ttf?nk2pqb") format("truetype"), url("../assets/fonts/GothamRounded-Medium.woff?nk2pqb") format("woff"), url("../assets/fonts/GothamRounded-Medium.svg?nk2pqb#GothamRounded-Medium") format("svg");
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #323232;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

@keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}

@keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}

@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}

@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}

@keyframes moveOnLeftOdd {
  0% {
    animation-timing-function: ease-in-out;
    transform: translate(0);
  }
  100% {
    animation-timing-function: ease-in-out;
    transform: translate(vw-calc(-615));
  }
}

@keyframes moveOnRightOdd {
  0% {
    animation-timing-function: ease-in-out;
    transform: translate(0px);
  }
  100% {
    animation-timing-function: ease-in-out;
    transform: translate(vw-calc(560));
  }
}

@keyframes moveOnLeftEven {
  0% {
    animation-timing-function: ease-in-out;
    transform: translate(0px);
  }
  100% {
    animation-timing-function: ease-in-out;
    transform: translate(vw-calc(-560));
  }
}

@keyframes moveOnRightEven {
  0% {
    animation-timing-function: ease-in-out;
    transform: translate(0px);
  }
  100% {
    animation-timing-function: ease-in-out;
    transform: translate(vw-calc(615));
  }
}

@keyframes flip {
  0% {
    animation-timing-function: ease-out;
    transform: perspective(400px) rotateY(0);
  }
  40% {
    animation-timing-function: ease-out;
    transform: perspective(400px) translateZ(150px) rotateY(170deg);
  }
  50% {
    animation-timing-function: ease-in;
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
  }
  80% {
    animation-timing-function: ease-in;
    transform: perspective(400px) rotateY(360deg) scale(0.95);
  }
  100% {
    animation-timing-function: ease-in;
    transform: perspective(400px) scale(1);
  }
}

@keyframes flipInX {
  0% {
    opacity: 0;
    transform: perspective(400px) rotateX(90deg);
  }
  40% {
    transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    transform: perspective(400px) rotateX(10deg);
  }
  100% {
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
  }
}

@keyframes flipOutX {
  0% {
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
  }
  100% {
    opacity: 0;
    transform: perspective(400px) rotateX(90deg);
  }
}

@keyframes flipInY {
  0% {
    opacity: 0;
    transform: perspective(400px) rotateY(90deg);
  }
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg);
  }
}

@keyframes flipOutY {
  0% {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg);
  }
  100% {
    opacity: 0;
    transform: perspective(400px) rotateY(90deg);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes border-dance {
  0% {
    background-position: 0 0, 300px 116px, 0 150px, 216px 0;
  }
  100% {
    background-position: 300px 0, 0 116px, 0 0, 216px 150px;
  }
}

.hide-element {
  visibility: hidden;
}

.hide-accessible {
  color: transparent;
  font-size: 0;
  line-height: 0;
}

.block {
  position: relative;
}

.pulse {
  animation-name: pulse;
}

.typing {
  animation-name: typing;
}

.blink-caret {
  animation-name: blink-caret;
}

.fade-in {
  animation-name: fadeIn;
}

.fade-out {
  animation-name: fadeOut;
}

.fade-in-up {
  animation-name: fadeInUp;
}

.fade-in-down {
  animation-name: fadeInDown;
}

.fade-in-left {
  animation-name: fadeInLeft;
}

.fade-in-right {
  animation-name: fadeInRight;
}

.fade-in-up-big {
  animation-name: fadeInUpBig;
}

.fade-in-down-big {
  animation-name: fadeInDownBig;
}

.fade-in-left-big {
  animation-name: fadeInLeftBig;
}

.fade-in-right-big {
  animation-name: fadeInRightBig;
}

.fade-out-down {
  animation-name: fadeOutDown;
}

.fade-out-up {
  animation-name: fadeOutUp;
}

.fade-out-left {
  animation-name: fadeOutLeft;
}

.fade-out-right {
  animation-name: fadeOutRight;
}

.fade-out-up-big {
  animation-name: fadeOutUpBig;
}

.fade-out-down-big {
  animation-name: fadeOutDownBig;
}

.fade-out-left-big {
  animation-name: fadeOutLeftBig;
}

.fade-out-right-big {
  animation-name: fadeOutRightBig;
}

.flip {
  animation-name: flip;
  backface-visibility: visible !important;
}

.flip-in-x {
  animation-name: flipInX;
  backface-visibility: visible !important;
}

.flip-out-x {
  animation-name: flipOutX;
  backface-visibility: visible !important;
}

.flip-in-y {
  animation-name: flipInY;
  backface-visibility: visible !important;
}

.flip-out-y {
  animation-name: flipOutY;
  backface-visibility: visible !important;
}

.bounce {
  animation-name: bounce;
}

.border-dance {
  animation-name: border-dance;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

html {
  font-size: 16px;
}

body {
  background-color: white;
  color: #12120a;
  font-family: "GothamRounded-Book", sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #12120a;
  font-family: "GothamRounded-Medium", sans-serif;
  font-weight: 500;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0 .75rem;
}

h2,
h3 {
  line-height: 1.25;
}

h4,
h5,
h6 {
  line-height: 1.4;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 2rem 0 1.5rem;
}

@media (min-width: 1170px) {
  h1 {
    font-size: 3.5rem;
    line-height: 4.5rem;
    margin: 1.5rem 0;
  }
}

h1.page-title {
  margin-top: 0;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.0625rem;
}

@media (min-width: 1170px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.75rem;
}

@media (min-width: 1170px) {
  h4 {
    font-size: 2rem;
  }
}

h5 {
  font-size: 1.5rem;
}

@media (min-width: 1170px) {
  h5 {
    font-size: 1.75rem;
  }
}

h6 {
  font-size: 1.25rem;
}

@media (min-width: 1170px) {
  h6 {
    font-size: 1.5rem;
  }
}

p {
  margin: 0 0 1.2rem;
}

a {
  color: #e1261c;
  display: inline-block;
  text-decoration: none;
  transition: color .2s;
}

a:hover {
  color: #e6473e;
  text-decoration: none;
}

blockquote {
  padding-top: 2.5rem;
  position: relative;
  padding-bottom: 2.5rem;
  position: relative;
  border: 0;
  margin: 2rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

blockquote:before {
  align-items: center;
  background-color: transparent;
  border-radius: 0;
  color: #ff543e;
  content: "";
  display: flex;
  font-family: "Da-Vinci";
  font-size: 2rem;
  height: 2rem;
  justify-content: center;
  line-height: 1;
  position: absolute;
  width: 2rem;
  top: 0;
  left: 0;
}

blockquote:after {
  align-items: center;
  background-color: transparent;
  border-radius: 0;
  color: #ff543e;
  content: "";
  display: flex;
  font-family: "Da-Vinci";
  font-size: 2rem;
  height: 2rem;
  justify-content: center;
  line-height: 1;
  position: absolute;
  width: 2rem;
  bottom: 0;
  right: 0;
}

@media (min-width: 768px) {
  blockquote {
    margin: 2rem 0;
  }
}

blockquote * {
  color: #12120a;
  font-family: "GothamRounded-Book", sans-serif;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.6;
}

@media (min-width: 1170px) {
  blockquote * {
    font-size: 1.375rem;
  }
}

blockquote > p:first-child {
  display: block;
  margin-top: 0;
}

blockquote > p:last-child {
  margin-bottom: 0;
}

mark,
.marker {
  background-color: #323232;
  color: white;
  float: right;
  font-size: 0.875rem;
  padding: .5rem;
}

summary {
  outline: none;
}

strong {
  font-weight: 700;
}

code,
kbd,
pre,
samp {
  font-size: 0.8125rem;
}

.button {
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 0.875rem;
  font-weight: bold;
  margin: 0;
  padding: 0.625rem 1.5rem;
  transition: .2s;
  background-color: #e1261c;
  border-color: #e1261c;
  color: white;
}

@media (min-width: 1170px) {
  .button {
    font-size: 0.9375rem;
  }
}

.button:hover {
  transition: .2s;
}

.button:hover {
  background-color: #ff543e;
  border-color: #ff543e;
  color: white;
}

.button--secondary {
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 0.875rem;
  font-weight: bold;
  margin: 0;
  padding: 0.625rem 1.5rem;
  transition: .2s;
  background-color: transparent;
  border-color: #e1261c;
  color: #e1261c;
}

@media (min-width: 1170px) {
  .button--secondary {
    font-size: 0.9375rem;
  }
}

.button--secondary:hover {
  transition: .2s;
}

.button--secondary:hover {
  background-color: #e1261c;
  border-color: #e1261c;
  color: white;
}

.button:disabled {
  opacity: .6;
  pointer-events: none;
}

.button:focus {
  outline: none;
}

body {
  transition: max-width .35s ease-out, max-height .35s ease-out;
}

.block-content-type-block_varieties {
  text-align: center;
}

.block-content-type-block_varieties .field--type-text-with-summary {
  margin: 0 auto;
  font-size: 1rem;
  margin-top: 1.25rem;
  width: 90%;
}

@media (min-width: 1170px) {
  .block-content-type-block_varieties .field--type-text-with-summary {
    margin: 0 auto;
    font-size: 1.125rem;
    width: 45.625rem;
    margin-bottom: 1.875rem;
    margin-top: 1.25rem;
  }
}

.block-content-type-block_varieties .field--type-image {
  width: 18.75rem;
  height: 18.75rem;
  margin: 0 auto;
}

.block-content-type-block_varieties .field--type-image img {
  width: 100%;
  height: auto;
}

.block-content-type-block_varieties .field--type-string {
  font-family: "GothamRounded-Medium", sans-serif;
  font-size: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.block-content-type-block_varieties .field--type-text-long {
  margin: 0 auto;
  width: 20rem;
  font-size: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.block-content-type-block_varieties .field--type-link {
  margin-top: 5rem;
  margin-bottom: 1.25rem;
}

.block-content-type-block_varieties a {
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 0.875rem;
  font-weight: bold;
  margin: 0;
  padding: 0.625rem 1.5rem;
  transition: .2s;
  background-color: #e1261c;
  border-color: #e1261c;
  color: white;
}

@media (min-width: 1170px) {
  .block-content-type-block_varieties a {
    font-size: 0.9375rem;
  }
}

.block-content-type-block_varieties a:hover {
  transition: .2s;
}

.block-content-type-block_varieties a:hover {
  background-color: #ff543e;
  border-color: #ff543e;
  color: white;
}

.block-content-type-tipo_banner_principal {
  background: url(../images/textura_papel.png) 0 0 repeat;
  height: 46rem;
}

.block-content-type-tipo_banner_principal .container {
  position: relative;
}

.block-content-type-tipo_banner_principal:after {
  content: '';
  position: absolute;
  bottom: -80%;
  left: 0;
  width: 100%;
  height: 46rem;
  background: url(../images/palma-baja.png) 0 0 no-repeat;
}

.block-content-type-tipo_banner_principal:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46rem;
  background: url(../images/palma-alta.png) 100% 0 no-repeat;
}

.block-content-type-tipo_banner_principal h1 {
  min-width: 16.25rem;
  float: left;
  width: 70%;
  padding: 5rem 0 0 3rem;
}

@media (min-width: 1170px) {
  .block-content-type-tipo_banner_principal h1 {
    padding: 10rem 0 0 7rem;
    width: 45.625rem;
  }
}

.block-content-type-tipo_banner_principal .field--name-field-image {
  position: absolute;
  right: 0;
  top: 4rem;
}

.block-content-type-tipo_banner_principal .field--name-field-image img {
  width: 100%;
  height: auto;
}

@media (min-width: 1170px) {
  .block-content-type-tipo_banner_principal .field--name-field-image img {
    margin-left: 0;
  }
}

.block-content-type-tipo_banner_principal .field--type-text-with-summary {
  display: none;
  clear: both;
  min-width: 16.25rem;
  width: 70%;
  padding: 5rem 0 0 3rem;
}

@media (min-width: 1170px) {
  .block-content-type-tipo_banner_principal .field--type-text-with-summary {
    display: block;
    padding: 0rem 0 0 7rem;
    width: 45.625rem;
  }
}

.block-content-type-tipo_banner_principal .field--name-field-link {
  clear: both;
}

.block-content-type-tipo_banner_principal .field--name-field-link a {
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 0.875rem;
  font-weight: bold;
  margin: 0;
  padding: 0.625rem 1.5rem;
  transition: .2s;
  background-color: #e1261c;
  border-color: #e1261c;
  color: white;
  margin-left: 7rem;
}

@media (min-width: 1170px) {
  .block-content-type-tipo_banner_principal .field--name-field-link a {
    font-size: 0.9375rem;
  }
}

.block-content-type-tipo_banner_principal .field--name-field-link a:hover {
  transition: .2s;
}

.block-content-type-tipo_banner_principal .field--name-field-link a:hover {
  background-color: #ff543e;
  border-color: #ff543e;
  color: white;
}

.block-content-type-tipo_categoria {
  min-height: 50rem;
}

.block-content-type-tipo_categoria:after {
  clear: both;
  content: '';
  display: table;
}

.block-content-type-tipo_categoria .container {
  position: relative;
}

.block-content-type-tipo_categoria .field--group {
  position: relative;
  margin-bottom: 13.75rem;
  padding-left: 2rem;
}

@media (min-width: 1170px) {
  .block-content-type-tipo_categoria .field--group {
    margin-bottom: 0;
    padding-top: 9rem;
    padding-left: 0;
  }
}

.block-content-type-tipo_categoria .field--category {
  color: #ff543e;
}

.block-content-type-tipo_categoria .field--type-image img {
  width: 100%;
  height: auto;
}

@media (min-width: 1170px) {
  .block-content-type-tipo_categoria .field--type-image {
    position: absolute;
    top: 0;
    right: 18%;
    z-index: 2;
  }
}

.block-content-type-tipo_categoria .field--type-text-with-summary {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "GothamRounded-Medium", sans-serif;
  margin-top: 1.25rem;
  position: relative;
  z-index: 3;
}

@media (min-width: 1170px) {
  .block-content-type-tipo_categoria .field--type-text-with-summary {
    width: 50.4375rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.block-content-type-tipo_categoria .field--name-field-extra-info {
  position: relative;
  z-index: 3;
}

.block-content-type-tipo_categoria .field--name-field-extra-info ul {
  margin: 0;
  padding: 0;
}

@media (min-width: 1170px) {
  .block-content-type-tipo_categoria .field--name-field-extra-info ul {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

.block-content-type-tipo_categoria .field--name-field-extra-info ul li {
  font-family: "GothamRounded-Book", sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10.5rem;
  float: left;
  padding-top: 3rem;
}

@media (min-width: 1170px) {
  .block-content-type-tipo_categoria .field--name-field-extra-info ul li {
    width: 15.9375rem;
  }
}

.block-content-type-tipo_categoria .field--name-field-extra-info ul li:first-child {
  background: url(../images/box.png) 0 0 no-repeat;
  margin-right: 1.25rem;
}

.block-content-type-tipo_categoria .field--name-field-extra-info ul li:last-child {
  background: url(../images/truck.png) 0 0 no-repeat;
}

.block-content-type-tipo_testimonios {
  margin-top: 6.25rem;
  margin-bottom: 18.75rem;
}

@media (min-width: 1170px) {
  .block-content-type-tipo_testimonios {
    margin-top: 18.75rem;
    margin-bottom: 12.5rem;
  }
}

.block-content-type-tipo_testimonios:after {
  clear: both;
  content: '';
  display: table;
}

.block-content-type-tipo_testimonios:before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 53.125rem;
  background: white;
  background: linear-gradient(180deg, white 28%, #ef8f55 28%);
}

@media (min-width: 1170px) {
  .block-content-type-tipo_testimonios:before {
    top: -6.25rem;
    right: 0;
    height: 35rem;
    background: white;
    background: linear-gradient(90deg, white 28%, #ef8f55 28%);
  }
}

.block-content-type-tipo_testimonios .field--type-image {
  float: left;
  position: relative;
  z-index: 3;
}

.block-content-type-tipo_testimonios .field--group {
  float: left;
  width: 36.25rem;
  padding-left: 5rem;
  color: white;
  position: relative;
  z-index: 3;
}

.block-content-type-tipo_testimonios .field--type-text-with-summary, .block-content-type-tipo_testimonios .field--author {
  font-family: "Caveat", cursive;
  line-height: 3.5rem;
}

.block-content-type-tipo_testimonios .field--type-text-with-summary {
  font-size: 3rem;
  padding-top: 6rem;
}

.block-content-type-tipo_testimonios .field--type-text-with-summary blockquote {
  margin: 0;
  margin-bottom: 1.25rem;
  padding: 0;
}

.block-content-type-tipo_testimonios .field--type-text-with-summary blockquote:before {
  display: none;
}

.block-content-type-tipo_testimonios .field--type-text-with-summary blockquote:after {
  color: #864b3e;
  left: 0;
  font-size: 5rem;
  width: 5rem;
  height: 5rem;
}

.block-content-type-tipo_testimonios .field--author {
  font-size: 2rem;
}

.block-content-type-tipo_testimonios .field--type-text-long {
  font-size: 1rem;
}

.block-content-type-tipo_testimonios .field--name-field-extra-imagen {
  position: absolute;
  bottom: -50%;
  right: -60px;
}

.block-content-type-tipo_testimonios .field--name-field-extra-imagen img {
  width: 80%;
  height: auto;
}

.block-content-type-tipo_webform {
  background: url(../images/fondo_terrazo.png) center top no-repeat;
  background-size: cover;
  overflow: hidden;
}

.block-content-type-tipo_webform .field--type-image {
  display: none;
}

@media (min-width: 1170px) {
  .block-content-type-tipo_webform .field--type-image {
    position: relative;
    top: 0.625rem;
    display: block;
    float: left;
    width: 33%;
  }
}

.block-content-type-tipo_webform .field--group {
  padding: 0 3rem;
  margin-bottom: 3.125rem;
}

@media (min-width: 1170px) {
  .block-content-type-tipo_webform .field--group {
    margin: 0;
    padding: 0;
    width: 66%;
    float: left;
    position: relative;
    z-index: 2;
  }
}

.block-content-type-tipo_webform .field--group h2 {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 3.125rem;
}

@media (min-width: 1170px) {
  .block-content-type-tipo_webform .field--group h2 {
    text-align: left;
    width: 31.25rem;
    margin-top: 13.75rem;
  }
}

.block-content-type-tipo_webform .field--group .field--type-text-with-summary {
  display: none;
}

@media (min-width: 1170px) {
  .block-content-type-tipo_webform .field--group .field--type-text-with-summary {
    display: block;
    font-size: 1.125rem;
  }
}

@media (min-width: 1170px) {
  .block-content-type-tipo_webform .field--group .field--type-text-with-summary, .block-content-type-tipo_webform .field--group .field--type-webform {
    width: 31.25rem;
    margin-bottom: 1.875rem;
  }
}

.block-content-type-tipo_webform .field--group .field--type-webform input[type=text],
.block-content-type-tipo_webform .field--group .field--type-webform input[type=email],
.block-content-type-tipo_webform .field--group .field--type-webform input[type=tel] {
  width: 100%;
  font-size: 0.9375rem;
  padding: 0.9375rem;
  margin-bottom: 0.625rem;
}

@media (min-width: 1170px) {
  .block-content-type-tipo_webform .field--group .field--type-webform input[type=text],
  .block-content-type-tipo_webform .field--group .field--type-webform input[type=email],
  .block-content-type-tipo_webform .field--group .field--type-webform input[type=tel] {
    width: 80%;
  }
}

.block-content-type-tipo_webform .field--group .field--type-text-long {
  font-size: 0.8125rem;
}

.block-content-type-tipo_webform .field--group .form-submit {
  width: 100%;
}

@media (min-width: 1170px) {
  .block-content-type-tipo_webform .field--group .form-submit {
    width: auto;
  }
}

.site-footer {
  background: #323232;
  color: white;
}

.site-footer a {
  color: white;
  font-size: 0.875rem;
}

.site-footer .footer-wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.site-footer .footer-wrapper .region-footer {
  height: 6rem;
  display: flex;
  padding: 0 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.site-footer .menu--footer {
  display: none;
}

@media (min-width: 1170px) {
  .site-footer .menu--footer {
    display: block;
  }
  .site-footer .menu--footer ul.menu {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .site-footer .menu--footer ul.menu li {
    display: inline-block;
    padding: 0 2rem;
  }
}

.site-footer #block-logofooter {
  background: red;
}

html,
body {
  min-height: 100vh;
}

body.frozen-body {
  overflow: hidden;
}

body.toolbar-horizontal .menu-administration-user-content {
  max-height: calc(100vh - 79px);
}

.layout-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.layout-container > main {
  flex-grow: 1;
  padding: 0;
  width: 100%;
}

.layout-container .layout-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1170px) {
  .layout-container .layout-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 0) and (max-width: 1169px) {
  .layout-container .layout-wrapper > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.layout-container .layout-wrapper .layout-content {
  width: 100%;
}

@media (min-width: 1170px) {
  .layout-container .layout-wrapper .layout-content {
    flex-grow: 1;
    width: 50%;
  }
}

.layout-container .layout-wrapper aside {
  width: 100%;
}

@media (min-width: 1170px) {
  .layout-container .layout-wrapper aside {
    width: 23.5%;
  }
}

@media (min-width: 1170px) {
  .layout-container .layout-wrapper aside.layout-sidebar-first {
    margin-right: 1.5%;
    order: -1;
  }
}

@media (min-width: 1170px) {
  .layout-container .layout-wrapper aside.layout-sidebar-second {
    margin-left: 1.5%;
  }
}

.ie .layout-container {
  display: block;
}

/*# sourceMappingURL=maps/main.css.map */
