.block-content-type-tipo_categoria
  min-height: calc-rem(800px)

  .container
    position: relative

  .field--group
    position: relative
    top: calc-rem(160px)
    z-index: 3

  .field--category
    color: $orange

  .field--type-image
    position: absolute
    top: 0
    right: 18%

  .field--type-text-with-summary
    font-size: calc-rem(32px)
    line-height: calc-rem(40px)
    width: calc-rem(807px)
    font-family: $gotham-bold
    margin-top: calc-rem(20px)

    ul
      margin: 0
      padding: 0
      margin-top: calc-rem(150px)

      li
        font-family: $gotham
        line-height: 1.5rem
        font-size: calc-rem(16px)
        +clean-list
        width: calc-rem(255px)
        float: left

        &:first-child
          background: red
          margin-right: calc-rem(20px)

        &:last-child
          background: pink
